.gradle
.kotlin
*.iml
.gradle**/build/
xcuserdata
!src/**/build/
**/build/
# Exception: allow committing the fat JAR for multipaz-records-server
!multipaz-records-server/build/libs/multipaz-records-server-all.jar
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
samples/testapp/iosApp/DeveloperConfig.xcconfig
